@import './variables/variables.scss';


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: $primary-background;
}


.section_title {
    color: #5e35b1;
}
.menu_container {
    border-radius: 50px;
    margin-left: 1rem
}
.app_container {
    width: 100%;
    display: flex;
}

.content_container {
    width: 100%;
}

.container_cover {
    width: auto;
    background-color: #6b1eaf;
    background: linear-gradient(0deg, rgba(80,20,132,0.9), rgba(80,20,132,0.5)), url('../assets/login_illustration.jpg');
    background: url('../assets/todo_app_illustration.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 0.75rem;
}

.content_container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    border-radius: 0.75rem;
}


.content_container input {
    width: 100%;
    max-width: 80%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    background: none;
    border: none;
    border: 1.5px solid white;
    margin: 1.5rem;
    color: white;
}

.content_container input::placeholder{
    color: "white";
    opacity: 0.5;
}

.content_container input:focus {
    outline: none !important;
    border: 1px solid white;
    box-shadow: 0 0 15px white;
}

// START PAGE 

.start_box_description {
    // background: url('../assets/greens_left.png');
    // background-repeat: no-repeat;
    // background-position:70% 80%;
    // background-size: 25%;
}

.start_box_description h1 {
    font-size: 72px;
    color: #242424
}

.start_box_description p {
    font-size: 22px;
    line-height: 36px;
    color: #242424;
    opacity: 0.8;
}

.start_box_buttons p {
    margin: 2rem 0;
    padding: 2rem;
    font-size: 28px;
    font-style: italic;
    color: #242424;
    font-family:'Times New Roman', Times, serif;
}

.start_box_buttons {
    // display:flex;
    // flex-direction: column;
    // align-items: center;
    // z-index: 1;
    // position: relative;
}

.decoration_line {
    position: absolute;
    left: 0;
    width: 50px;
    background-color: $primary-background;
    height: 100%;
    border-left: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 9px 0px 0px $primary-background, 0 -9px 0px 0px $primary-background, 15px 0 20px -8px $primary-background, -15px 0px 20px -8px rgba(186,189,196,0.5);

}
.section_container {
    background-repeat: no-repeat;
    background-position:100% bottom;
    z-index: 2;
}

